.kw{
    width: 200;
    margin-top: 40px;
}
.g21{
    margin-left: 500px;
    
}
.b311{
    width: 500px;
    margin-top: 0px;
    height: 50px;
    
}
.gg{
    width: 500px;
    height: 50px;
    margin-bottom: 50px;
}
