.checkout_products{
    background-origin: padding-box;
    margin-top: 50px;
    margin-left: 50px;
}
.sona{
    width: 200px;
}
.bno{
    width: 90px;
    height: 40px;
    background-color: white;
    border-color: white;
    border-color: white;
}