.footer1{
    
    margin-top: 200px;
    background-color: black;
    color: white;
    width: 1520px;
    height: 510px;
}
.supo{
    margin-top: 1500px;
    margin-left: 50px;
    margin-bottom: 100px;
}
.soot{
    color: gray;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 50px;
}
.ddh{
    margin-top: 200px;
}
.supo2{
    margin-left: 50px;
    color:  gray;
    margin-top: 50px;
}
.imh{
    margin-left: 50px;
    background-color: black;

}
.loh{
    margin-left: 1200px;
}
.ions{
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 20px;
}
.ions1{
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
}
.ions2{
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
}
.ions3{
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
}
.ions4{
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
}
.vty{
    margin-left: 300px;
    margin-top: 20px;
}
.paymen{
    margin-top: 20px;
    margin-left: 300px;
}
.ing{
    background-color: white;
    color: white;
    width: 40px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
.ing1{
    background-color: white;
    color: white;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
.ing2{
    background-color: white;
    color: white;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
.ing3{
    background-color: white;
    color: white;
    width: 40px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}