.heade {
    height: 100px;
    background-color: maroon;
    top: 0;
  }
  .we{
    color: whitesmoke;
    margin-left:550px;
  }
  .w{
    
    color: whitesmoke;
    margin-left: 70px;
  }
  .q{
    margin-top: 10px;
  }
  .h{
    color: black;
  }
   .h{
    color: black;
  }
  .img1{
    margin-bottom: 10px;
    margin-top: 100px;
    width: 500px;
    height: 100px;
}