.f1{
    margin-top: 100px;
    margin-left: 100px;
}
.g2311{
    
    border-color: black;
    color: #000;
    background-color: white;
    width: 500px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 0pc;
    margin-block: 10px;
}
.t{
    box-sizing: 10px;
}
.b1{
    width: 500px;
    height: 40px;
    margin-top: 30px;
    background-origin: padding-box;
}
.th{
    
    margin-top: 50px;
    margin-left: 100px;
}
.t1{
    margin-top: 50px;
    margin-bottom: 1000px;
}
.n4{
    
    border-color: black;
    color: #000;
    background-color: white;
    width: 500px;
    height: 50px;
    box-sizing: border-box;
    margin-bottom: 10px;
    
}
.n2{
    
    border-color: black;
    color: #000;
    background-color: white;
    width: 500px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 0pc;
    margin-block: 10px;
}
.t2{
    width: 500px;
    height: 40px;
    margin-bottom: 100px;
}
.o{
    color: red;
}
.h{
    margin-left: 50px;
}