.mi1{
    width: 300px;
}
.q1{
    margin-left: 500px;
}
.mi2{
    background-color: black;
    margin-top: 10px;
    margin-bottom: 40px;
    color: white;
    width: 2000px;
    height: 300px;
}
.w1{
margin-top: 0%;
margin-bottom: 500px;
}
.mo{
    width: 700px;
    background-color: black;
    margin-top: 10px;
    height: 500px;
}
.c1{
    margin-left: 10px;
    margin-top: 100px;
}
.n1{
    width: 800px;
    height: 400px;
}
.c2{
    margin-left: 600px;
}
.e1{
    width: 450px;
    margin: 2px;
}
.k1{
    color: white;
    background-color: black;
    margin-top: 5px;
}