.sub{
    
}
.subtotal{
    margin-left: 500px;
}
.defd1{
    margin-left: 250px;
}
.defd2{
    margin-left: 315px;
}
.defd3{
    margin-left: 175px;
}
.byg{
    width: 500px;
    height: 50px;
    background-color: rgb(215, 111, 31);
}